@import 'normalize.css';
@import 'variables.less';
body {
  font-family: sans-serif;
  color: @brown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  flex: 1;
  background-color: lighten(@brown, 45%);
  @media (max-width: @phone) {
    .container > p {
      padding: 5px;
      text-align: justify;
    }
    
  }
}
h1 {
  margin : 30px 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  color: @brown;
}

div {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width : 1200px;
  @media (max-width: @phone) {
    width: 100%;
  }
  .page-text-content {
    font-size: 18px;
    line-height: 150%;
    p {
      text-indent: 20px;
    }
  }
}
section {
  position: relative;
}

